/*  Be modular with your classes. */

@import "./reset.scss";

.flex-and-column {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: xx-large;
}

body {
  margin: 5% 5% 0;
  align-items: normal;
  background: ghostwhite;
}
